/*--------------------------fonts ----------------------------------*/
@font-face {
    font-family: 'HelveticaNeueLTPro';
    src: url('../fonts/HelveticaNeueLTPro-BdEx.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HelveticaNeueLTPro-BdEx.otf')  format('opentype'),
    url('../fonts/HelveticaNeueLTPro-BdEx.woff') format('woff'),
    url('../fonts/HelveticaNeueLTPro-BdEx.ttf')  format('truetype'),
    url('../fonts/HelveticaNeueLTPro-BdEx.svg#HelveticaNeueLTPro-BdEx') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueLTPro';
    src: url('../fonts/HelveticaNeueLTPro-ThEx.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HelveticaNeueLTPro-ThEx.otf')  format('opentype'),
    url('../fonts/HelveticaNeueLTPro-ThEx.woff') format('woff'),
    url('../fonts/HelveticaNeueLTPro-ThEx.ttf')  format('truetype'),
    url('../fonts/HelveticaNeueLTPro-ThEx.svg#HelveticaNeueLTPro-ThEx') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MyriadPro-Regular';
    src: url('../fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MyriadPro-Regular.otf')  format('opentype'),
    url('../fonts/MyriadPro-Regular.woff') format('woff'),
    url('../fonts/MyriadPro-Regular.ttf')  format('truetype'),
    url('../fonts/MyriadPro-Regular.svg#MyriadPro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Tahoma';
    src: url('../fonts/Tahoma.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Tahoma.woff') format('woff'),
    url('../fonts/Tahoma.ttf')  format('truetype'),
    url('../fonts/Tahoma.svg#Tahoma') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*-------------------page settings----------- */


.wrapper {
    width: 675px;
    margin: 0 auto;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/*-------------- body styles -----------------*/

h2 {
    margin: 0;
    font-family: HelveticaNeueLTPro;
    font-size: 32px;
    font-weight: normal;
}

h2 span {
    font-family: HelveticaNeueLTPro;
    font-weight: bold;
}

h3 {
    color: #093500;
    font-family: MyriadPro-Regular;
    font-size: 20px;
    font-weight: normal;
}

section p {
    font-family: "Tahoma";
    font-size: 10px;
    line-height: 1.5;
    text-align: left;
}

section p span {
    display: block;
    color: #80a60f;
    font-size: 11px;
    letter-spacing: 1px;
    font-weight: bold;
}

section img {
    float: left;
    display: block;
}


.article-link-arrow {
    width: 13px;
    height: 9px;
    display: block;
    background-image: url("../img/arrow.png");
}

section a:hover {
    border: 1px dotted gray;
}

/*--------------- header styles--------------*/
.header-logo {
    height: 80px;
    background: linear-gradient(to bottom, #769715 0%, #769715 11%, #7b9f12 25%, #92c205 65%, #99cb01 80%, #99cc01 100%);
}

header .logo {
    padding: 26px 0 0 40px;

}

ul {
    margin: 0;
    padding: 30px 0 30px 37px;
    list-style-type: none;
}

li {
    margin-right: 25px;
    display: inline;
    font-family: MyriadPro-Regular;
    font-size: 20px;
}

li a:link,
li a:visited {
    color: #093500;
    text-decoration: none;
}

li a:hover {
    color: gray;
    text-decoration: none;
}
li:nth-child(n+2){
    padding-left: 34px;
    background-image: url("../img/nav-separator.png");
    background-repeat: no-repeat;
    background-position: left;
}

/*--------------- main styles--------------*/
main h2 {
    float: right;
    padding: 30px 105px 0 0;
    color: #093500;

}


.intro{
    height: 190px;
    margin-bottom: 10px;
    background-color: #eeeefb;
    background-image: url("../img/main-image.png");
    background-repeat: no-repeat;
}


.intro p {
    padding: 5px 20px 0 300px;
    float:right;
}


.intro .article-link-arrow {
    margin-top: 10px;
}


.articles{
    border-bottom: 5px solid #eeeefb;
}


.article-about{
    float: left;
    width: 210px;
    margin-top: 30px;
    padding-left: 20px;
    padding-right: 25px;
    border-right: 1px solid #eeeefb;
}

.article-about h3 {
    margin-top: -15px;
}

.article-about .article-link-arrow {
    margin-bottom: -20px;
}

.artical-researches {
    border-bottom: 1px solid #eeeefb;
}

.artical-researches,
.artical-services {
    float: right;
    width: 375px;
    margin-top: 15px;
    margin-right: 25px;
    padding-bottom: 5px;
}

.artical-researches h3,
.artical-services h3 {
    margin-top: 0;
    margin-bottom: 10px;
}

.artical-researches img,
.artical-services img {
    padding-right: 20px;
    padding-bottom: 5px;
}

/*--------------- footer styles--------------*/

footer {
    padding: 20px;
}

footer span {
    display: block;
    color: #093500;
    font-family: "Tahoma";
    font-size: 10px;
}

/*--------------------------------TEMP -------------------------*/


