/*--------------------------fonts ----------------------------------*/
@font-face {
    font-family: HelveticaNeueLTPro-BdEx; /* Имя шрифта */
    src: url(fonts/HelveticaNeueLTPro-BdEx.otf); /* Путь к файлу со шрифтом */
    font-weight: bold;
}

@font-face {
    font-family: HelveticaNeueLTPro-ThEx; /* Имя шрифта */
    src: url(fonts/HelveticaNeueLTPro-ThEx.otf); /* Путь к файлу со шрифтом */
    font-weight: normal;


}

@font-face {
    font-family: MyriadPro-Regular; /* Имя шрифта */
    src: url(fonts/MyriadPro-Regular.otf); /* Путь к файлу со шрифтом */
    font-weight: normal;
}


/*-------------------wrapper----------- */
.wrapper {
    width: 675px;
    margin: 0 auto;
}
/*-------------- general styles -----------------*/
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}


h1 {
    margin: 0;
    font-family: HelveticaNeueLTPro-ThEx;
    font-size: 32px;
}

h1 span {
    font-family: HelveticaNeueLTPro-BdEx;
}

h2 {
    font-family: MyriadPro-Regular;
    font-size: 20px;
    font-weight: normal;
    color: #093500;

}

section p {
    font-family: "Tahoma";
    font-size: 10px;
    line-height: 1.5;
    text-align: left;
}
section p b {
    display: block;
    font-size: 11px;
    color: #80a60f;
}

section img {
    float: left;
    display: block;
}


/*--------------- header styles--------------*/
header {

}
.header-logo {
    width: 675px;
    height: 80px;
    /*border: 1px solid black;*/
    background: linear-gradient(to bottom, #769715 0%,#769715 11%,#7b9f12 25%,#92c205 65%,#99cb01 80%,#99cc01 100%);

}
header h1 {
    padding: 20px 0 0 40px;
    color: white;
}


nav {
    height: 80px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding-top: 30px;
}
li{
    display: inline;
    margin-right: 20px;
    font-family: MyriadPro-Regular;
    font-size: 20px;
}
li a:link,
li a:visited {
    text-decoration: none;
    color: #093500;
}
li a:hover {
    text-decoration: none;
    color: gray;
}


/*--------------- main styles--------------*/

main h1 {
    padding: 30px 0 0 250px;
    color: #093500;
}


section a {
    display: block;
    background-image: url("img/arrow.png");
    width: 13px;
    height: 9px;
}


.central-section {
    background-color: #eeeefb;
    background-image: url("img/main-image.png");
    background-repeat: no-repeat;
    height: 190px;
    margin-bottom: 10px;

}
.central-section p {
    padding: 5px 20px 0 300px;

}

.central-section a {
     margin-top: 10px;
}
.down-section {
    border-bottom: 5px solid #eeeefb;    /*---------gray big border after footer */
}

.left-block {
    float: left;
    width: 210px;
    padding-left: 20px;
    padding-right: 25px;
    margin-top: 30px;
    border-right: 2px solid #eeeefb;
}
.left-block h2 {
    margin-top: -15px;
}
.left-block a {
    margin-bottom: -10px;
}

.top-right-block {
    border-bottom: 2px solid #eeeefb;
}

.top-right-block,
.bottom-right-block{
    float: right;
    width: 375px;
    margin-top: 15px;
    margin-right: 25px;
    padding-bottom: 5px;
}

.top-right-block h2,
.bottom-right-block h2{
    margin-top: 0;
}

.top-right-block img,
.bottom-right-block img {
    padding-right: 20px;
}


/*--------------- footer styles--------------*/

footer {
    padding: 20px;
}

footer span {
    display: block;
    font-family: "Tahoma";
    font-size: 10px;
    color: rgb(9, 53, 0);

}




/*--------------------------------TEMP -------------------------*/


